# Secrets et parametrage local
docker/.env
conf/params*.properties
!conf/params.example.properties

# Logs
logs/
*.log

# Talend
talend/jobs/*.zip
talend/workspace/

# Power BI
*.pbix.bak

# Divers
.DS_Store
