# --- PostgreSQL ---
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=change_me_superuser
POSTGRES_ETL_USER=etl_user
POSTGRES_ETL_PASSWORD=change_me_etl
POSTGRES_BI_USER=bi_reader
POSTGRES_BI_PASSWORD=change_me_bi

# --- Elasticsearch / Kibana ---
ELASTIC_PASSWORD=change_me_elastic
KIBANA_SYSTEM_PASSWORD=change_me_kibana
# 32 caracteres minimum : openssl rand -hex 16
KIBANA_ENCRYPTION_KEY=change_me_32_chars_minimum_xxxxxx
